<ng-container *ngIf="results.length > 0; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>

  <form class="form-inline">
    <div class="form-group row w-75 mr-auto ml-auto">
      <div class="input-group ml-auto mr-auto mt-2 mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text"> From:</span>
        </div>
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="datePicker" (ngModelChange)="checkDate($event, 'start')"
          ngbDatepicker #start="ngbDatepicker">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="start.toggle()" type="button">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="input-group ml-auto mr-auto mt-2 mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text"> To:</span>
        </div>
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="datePicker2" (ngModelChange)="checkDate($event, 'end')"
          ngbDatepicker #end="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="end.toggle()" type="button">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="card w-100">
      <div class="card-header bg-light">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" (click)="performSort('city')">City Name</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="performSort('start_date')">Date Start</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="performSort('end_date')">Date End</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="performSort('price')">Price</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="performSort('status')">Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="performSort('color')">Color</a>
          </li>
        </ul>
      </div>

      <div class="card-body w-100 row justify-content-center align-items-center mt-5 mb-5 ml-auto mr-auto">
        <div class="card col-lg-3 col-sm-5 m-1 p-0" *ngFor="let result of sortResult | paginate: { itemsPerPage: 15, currentPage: p }">
          <div class="card-header bg-white">
            City Name: {{result.city}}
          </div>

          <div class="card-body">
            <p>
              From: {{result.start_date | date:fullDate}}.
            </p>
            <p>
              To: {{result.end_date | date:fullDate}}.
            </p>

            <p>
              Price: {{result.price | currency:'USD' }}.
            </p>
            <p>
              Status: {{result.status}}.
            </p>
          </div>

          <div class="card-footer bg-white">
            Color: {{result.color}} &nbsp; <span class="shadow-sm pt-1 pb-1 pr-3 pl-3" [style.background-color]="result.color"></span>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>

  <div class="row justify-content-center align-items-center mt-5 mb-5 ml-auto mr-auto">
  </div>
</ng-template>
<ng-template #elseTemplate>
  <div class=" vh h-100 justify-content-center align-content-center w-100 text-center">
    Fetching Data
  </div>
</ng-template>
